<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindQuestor - Home</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'main.css')}}">
</head>
<body>
    
    <header>
        <div class="logo">
            <h1>MindQuestor</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('SignIn') }}">Sign In</a></li>

            </ul>
        </nav>
    </header>

    <div class="subject-container">
        <!-- Links to different subjects -->
         
        <a href="{{url_for('Math')}}" class="subject-box" >Math</a>
        <a href="physics.html" class="subject-box">Physics</a>
        <a href="python.html" class="subject-box">Python</a>
        <a href="geography.html" class="subject-box">Geography</a>
        <a href="english.html" class="subject-box">English</a>
    </div>
</body>
</html>
