<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindQuestor - Home</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'main.css')}}">
</head>
<body>
    
    <header>
        <div class="logo">
            <h1>MindQuestor</h1>
        </div>
        <nav>
            <ul>
                <li>
                    {% if current_user.is_authenticated %}
                        <a href="/account">Account</a>  
                    {% else %}
                        <a href="{{ url_for('LogIn') }}">Log In</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>

    <div class="subject-container">
        <!-- Links to different subjects -->
         
        <a href="/subjects/math" class="subject-box" >Engineering Mathematics</a>
        <a href="/subjects/physics" class="subject-box">Mechanics</a>
        <a href="/subjects/python" class="subject-box">Computational Thinking & Programming</a>
        <a href="/subjects/english" class="subject-box">Java</a>
    </div>
</body>
</html>
