<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindQuestor - Score</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'styles.css')}}">
</head>
<body>
    <div class="score-container">
        <h2>Your Score</h2>
        <div class="pie-chart">
          
            <div class="pie-chart-circle" style="--score: {{marks}}0;"></div>
        </div>
        <p>You scored <span id="score">{{ marks }}</span> out of 10</p>
    </div>
</body>
</html>
