<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindQuestor - Sign In</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'signin.css')}}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Sign In</h2>
            <form action = "#" method = "post">
                <input type="email" placeholder="Email" name = "email" required>
                <input type="password" placeholder="Password" name = "password" required>
                <button type="submit">Sign In</button>
            </form>
            <p>Don't have an account? 
                <!-- Anchor to the sign-up page, opens in a new tab -->
                <a href="{{url_for('SignUp')}}">Sign up here</a>
            </p>
        </div>
    </div>
    <script>
        function userNotExists() {
            // Display a popup message
            alert("This User doesn't exist");
        }

        function wrongPassword() {
            // Display a popup message
            alert("Given Password is wrong");
        }

        function success() {
            // Display a popup message
            alert("Welcome to MindQuestor");
        }
    </script>
    
</body>
</html>
