<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindQuestor - Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static' , filename = 'signinsignup.css')}}">
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h2>Sign Up</h2>
            <form action="#" method="post">
                <input type="text" placeholder="Full Name" name = "username" required>
                <input type="email" placeholder="Email" name = "email" required>
                <input type="password" placeholder="Password" name = "password" required>
                <button type="submit"{% if exists %} onclick="userExists()" {% endif %}>Sign Up</button>
            </form>
            <p>Already have an account? 
                <a href="{{url_for('SignIn')}}" target="_blank">Sign in here</a>
            </p>
        </div>
    </div>

    <script>
        function userExists() {
            // Display a popup message
            alert("This User already exists");
        }
    </script>
</body>
</html>
